@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
   font-family: 'Orbitron';
   src: url('./fonts/Orbitron-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

html,
body {
   width: 100%;
}

body {
   font-family: "Orbitron";
}

.bg-left-to-right {
   background-image: url('https://ex-coders.com/html/xports/assets/img/breadcrumb.png');
   background-size: cover;
   background-position: left center;
   transform: translateX(-100%);
   transition: transform 0.5s ease-in-out;
   z-index: 0;
   opacity: 1;
   width: 100%;
}

.group:hover .bg-left-to-right {
   transform: translateX(0);
}

@keyframes float {

   0%,
   100% {
      transform: translateY(0);
   }

   50% {
      transform: translateY(-10px);
   }
}

.animate-float {
   animation: float 4s ease-in-out infinite;
   object-fit: cover;
   height: 100vh;
}

@keyframes marquee {
   0% {
      transform: translateX(0%);
   }

   100% {
      transform: translateX(-60%);
   }
}

.animate-marquee {
   animation: marquee 25s linear infinite;
   display: flex;
   width: max-content;
}


.video-bg iframe {
   width: 100vw;
   height: 100vh;
   min-width: 100%;
   min-height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   object-fit: cover;
   pointer-events: none;
}



