@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
   font-family: 'Orbitron';
   src: url('./fonts/Orbitron-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

html,
body {
   width: 100%;
}

body {
   font-family: "Orbitron";
}

.bg-left-to-right {
   background-image: url('https://ex-coders.com/html/xports/assets/img/breadcrumb.png');
   background-size: cover;
   background-position: left center;
   transform: translateX(-100%);
   transition: transform 0.5s ease-in-out;
   z-index: 0;
   opacity: 1;
   width: 100%;
}

.group:hover .bg-left-to-right {
   transform: translateX(0);
}

@keyframes float {

   0%,
   100% {
      transform: translateY(0);
   }

   50% {
      transform: translateY(-10px);
   }
}

.animate-float {
   animation: float 4s ease-in-out infinite;
   object-fit: cover;
   height: 100vh;
}

@keyframes marquee {
   0% {
      transform: translateX(0%);
   }

   100% {
      transform: translateX(-60%);
   }
}

.animate-marquee {
   animation: marquee 25s linear infinite;
   display: flex;
   width: max-content;
}

/* .custom-cursor {
   width: 25px;
   height: 25px;
   background: radial-gradient(circle, #0ff 40%, #00f0ff 100%);
   border-radius: 50%;
   position: fixed;
   pointer-events: none;
   z-index: 9999;
   transform: translate(-50%, -50%);
   box-shadow: 0 0 8px #00fff7, 0 0 15px #00fff7, 0 0 25px #00fff7;
   mix-blend-mode: difference;
   transition: transform 0.15s ease, box-shadow 0.2s ease;
} */



.video-bg iframe {
   width: 100vw;
   height: 100vh;
   min-width: 100%;
   min-height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   object-fit: cover;
   pointer-events: none;
   /* So user can't interact with video */
}


.textBlock {
   font-family: "Space Mono", monospace;
   font-weight: 400;
   font-style: normal;
   font-size: clamp(16px, 4vw, 40px);
   color: #fff;
   line-height: 1.5;
}

/* .char {
   display: inline-block;
   will-change: transform;
} */


.char {
   display: inline-block;
   will-change: transform;
   background-clip: inherit;
   -webkit-background-clip: inherit;
   color: inherit;
   font-size: inherit;
   font-weight: inherit;
   line-height: inherit;
}